// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/mixins";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
